{% extends "base.jinja2" %}
{% from "_formhelpers.jinja2" import render_field, render_label, render_input %}

{% block title %}UnderCover - {{ status }}{% endblock %}

{% block content %}
    <h1 style="line-height: 150%">{{ error_text }}</h1>
    {% if extra_text %}
        <h2>{{ extra_text }}</h2>
    {% endif %}
{% endblock content %}
